# Public
public/assets/
public/lib/
public/admin/
public/files/

# Dev
dev/adminSrc/data.json
dev/adminSrc/icons.js

# Autres
vendor/
node_modules/
.DS_Store
.vscode/
.parcel-cache/
.env

migrations/
cloud/
