# Public
public/assets/
public/lib/
public/admin/
public/files/

# App
app/cloud/
app/.env
app/files/

# Dev
dev/adminSrc/data.json
dev/adminSrc/icons.js
dev/migrations/

# Autres
vendor/
node_modules/
.DS_Store
.vscode/
.parcel-cache/