<filesMatch ".(js|css|jpg|jpeg|png|gif|ico|webp|svg|lottie|woff2)$">
#Header set Cache-Control "max-age=15768000, public"
</filesMatch>

Options +SymLinksIfOwnerMatch
RewriteEngine on
RewriteCond %{REQUEST_URI} !=/index.php
RewriteCond %{REQUEST_URI} !^/(assets|admin)/.*\.(js|css|woff2|ico)$ [NC]
RewriteCond %{REQUEST_URI} !^/img/.*\.(jpg|jpeg|png|gif|ico|webp|svg|lottie)$ [NC]
RewriteCond %{REQUEST_URI} !^/lib/.*\..* [NC]
RewriteCond %{REQUEST_URI} !^/files/.*\..* [NC]
RewriteRule .* /index.php [L]
